
table { 
    border-collapse: collapse;
    margin: 100 auto; 
}
td { 
    width: 100px; 
    height: 100px; 
    border: none; 
    cursor: pointer; 
    text-align: center;
            }
td>img {  
    width: 100px; 
    height: 100px; 
}